/* client/src/components/ProductList/ProductList.css */
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-left: 220px;
    margin-top: -234px;

}

.product-card {
    border: 1px solid #ddd;
    padding: 1rem;
    width: 200px;
}

.product-card img {
    width: 192px!important;
    height: 192px!important;
    border-radius: 4px;
    margin-bottom: 8px;
    object-fit: contain;
}
